<div class="login-wrapper">
    <div class="login-container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <mat-toolbar>
                    <span>LOGIN in ECOMMERCE1</span>
                </mat-toolbar>
                <mat-card class="my-card">
                    <mat-card-content>
                        <form name="form" (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate>
                            <div class="error" [ngClass]="{ 'has-error': loginForm.submitted && !username.valid }">
                                <mat-form-field class="full-width">
                                    <mat-label>User Name</mat-label>
                                    <input matInput class="logininput" placeholder="User Name" name="username"
                                        [(ngModel)]="model.username" #username="ngModel" required />
                                </mat-form-field>

                                <div *ngIf="loginForm.submitted && !username.valid" class="help-block">User Name is
                                    required.</div>
                            </div>
                            <div class="error" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
                                <mat-form-field class="full-width">
                                    <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" name="password" type="password"
                                        [(ngModel)]="model.password" #password="ngModel" required />
                                </mat-form-field>
                                <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is
                                    required.</div>
                            </div>
                        </form>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="m-l-10"><button type="submit" class="btn btn-facebook"  (click)="login()">Login</button></div>
                            <div class="m-l-10">
                                <button class="btn btn-facebook" (click)="loginWithFacebook()">
                                    <i class="fa fa-facebook me-1"></i>
                                    Login with Facebook
                                </button>
                               
                            </div>
                        
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-3">

            </div>
        </div>

    </div>
</div>