<div>
    <h3 class="clearfix">
        <div class="pageHeader pull-left">Product Detail</div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               
            </div>
            <div class="col-md-2 pull-right right"><button class="btn btn-facebook" (click)="back()">Back</button></div>
            <!-- <button (click)="addProduct()">Add Product</button> -->
        </div>
    </h3>
    <div class="view">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-internal">
                                <img src="{{'../../assets/images/'+ product.imagePath + '.png'}}" alt="product.name"
                                    style="width:25%;height: 120px;">
                                    <h1>{{product.name}}</h1>
                                <p>Brand: {{product.brand}}</p>
                                <p class="price">MRP: ₹{{product.mrp}}</p>
                                <p class="price">Selling Price: ₹{{product.sellingPrice}}</p>
                                <p class="price">Size: {{product.size}}</p>
                                <p class="price">Color: {{product.color}}</p>
                                <p>Description: {{product.description}}</p>
                                <p> <button type="button" class="btn btn-facebook" (click)="addToCart(product)">Add To Cart</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>

    </div>
</div>