<div *ngIf="isLoggedIn">
    <div class="logo-inner">
        <img src="/assets/images/logo-inner.jfif" />

    </div>
    <div class="pull-right user-details clearfix">
        <div id="nav-icon3" (click)="showUserDetails()">
        </div>
        <ul class="userDtatils">

            <li> <img src="/assets/images/cart.svg" width="70px" height="45px" /> <span class="cartItem">{{noOfCartItems}}</span> </li>
            <li>
                <button class="btn btn-facebook" (click)="logout()">
                    Logout
                </button>
            </li>
        </ul>
    </div>
</div>